.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}

/* Embed form */
/* Muti step form */
/* Modal - checkout */
/* Invoice */

$brandBlue: #303dbf;
$brandRed: #ff464a;
$brandYellow: #ffc928;
$brandGreen: #65cf85;
$textDark: rgb(59, 64, 77);

.cursor-pointer {
  cursor: pointer;
}

/* Helpers */
.flex-wrap {
  flex-wrap: wrap !important;
}

.gap-1 {
  gap: 0.5rem !important;
}

.height-xs {
  height: 150px !important;
}

.height-sm {
  height: 300px !important;
}

.height-md {
  height: 450px !important;
}

.height-lg {
  height: 600px !important;
}

.height-full {
  height: 100% !important;
}

.height-0 {
  height: 0px !important;
}

.height-10 {
  height: 10px !important;
}

.height-20 {
  height: 20px !important;
}

.height-30 {
  height: 30px !important;
}

.height-40 {
  height: 40px !important;
}

.height-50 {
  height: 50px !important;
}

.height-60 {
  height: 60px !important;
}

.height-70 {
  height: 70px !important;
}

.height-80 {
  height: 80px !important;
}

.height-90 {
  height: 90px !important;
}

.height-100 {
  height: 100px !important;
}

.height-150 {
  height: 150px !important;
}

.height-200 {
  height: 200px !important;
}

.height-250 {
  height: 250px !important;
}

.height-300 {
  height: 300px !important;
}

.height-310 {
  height: 310px !important;
}

.height-350 {
  height: 350px !important;
}

.height-400 {
  height: 400px !important;
}

.height-450 {
  height: 450px !important;
}

.height-500 {
  height: 500px !important;
}

.height-550 {
  height: 550px !important;
}

.height-600 {
  height: 600px !important;
}

.width-xs {
  width: 150px !important;
}

.width-sm {
  width: 300px !important;
}

.width-md {
  width: 450px !important;
}

.width-lg {
  width: 600px !important;
}

.width-full {
  width: 100% !important;
}

.width-0 {
  width: 0px !important;
}

.width-10 {
  width: 10px !important;
}

.width-20 {
  width: 20px !important;
}

.width-30 {
  width: 30px !important;
}

.width-40 {
  width: 40px !important;
}

.width-50 {
  width: 50px !important;
}

.width-60 {
  width: 60px !important;
}

.width-70 {
  width: 70px !important;
}

.width-80 {
  width: 80px !important;
}

.width-90 {
  width: 90px !important;
}

.width-100 {
  width: 100px !important;
}

.width-150 {
  width: 150px !important;
}

.width-200 {
  width: 200px !important;
}

.width-250 {
  width: 250px !important;
}

.width-300 {
  width: 300px !important;
}

.width-350 {
  width: 350px !important;
}

.width-400 {
  width: 400px !important;
}

.width-450 {
  width: 450px !important;
}

.width-500 {
  width: 500px !important;
}

.width-550 {
  width: 550px !important;
}

.width-600 {
  width: 600px !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

/* Progress circle */
.progress-circle {
  width: 50px;
  height: 50px;
  background: none;
  position: relative;
}

.progress-circle-sm {
  width: 40px !important;
  height: 40px !important;
}

.progress-circle::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #f6f9fc;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-circle>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress-circle .progress-left {
  left: 0;
}

.progress-circle .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress-circle .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress-circle .progress-right {
  right: 0;
}

.progress-circle .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress-circle .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-circle-badge-counter {
  position: absolute;
  top: -10px;
  right: -4px;
  padding: .25rem .275rem;
}

.rounded-lg {
  border-radius: 1rem;
}

.spinner,
.fade.in .spinner-small {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.spinner,
.spinner-small {
  height: 100px !important;
  width: 100px !important;
  top: 45%;
  left: 48%;
  background: url('../assets/merchi-monster-loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px 150px;
  margin: -20px 0 0 -20px;
  position: absolute;
  border: none;
}

.spinner,
.spinner-merchi-small {
  height: 100px !important;
  width: 100px !important;
  background: url('../assets/merchi-monster-loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px 150px;
  border: none;
}

.bg-landing-page {
  background-color: #f8f9fe;
}

.navbar-landing {
  background-color: #f8f9fe;
}

.navbar-horizontal .navbar-nav .nav-link {
  font-size: 1rem !important;
  font-weight: 1000 !important;
  letter-spacing: 0;
}

.header-main-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px,
}

.landing-h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 3.5rem;
  display: inline;
}

.landing-h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem;
}

.landing-p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.landing-p-strong {
  font-size: 17px;
  font-weight: 600;
}

.landing-p-1 {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

@media(min-width: 500px) {
  .header-main-img {
    min-height: 500px;
  }

  .landing-h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

.display-3 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.progress-circle .progress-bar {
  transition: all 0.1s linear;
}

.progress-circle-hero {
  height: 110px;
  width: 110px;
  border-width: 6px;
}

.progress-circle-hero .progress-bar {
  border-width: 6px !important;
}

.utils-progress .rounded-lg {
  background: #fff;
  border-radius: 100%;
  padding: 10px;
}

.utils-progress .badge {
  font-size: 14px;
  margin-left: -10px !important;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
}

.utils-progress .badge-left {
  margin-right: -10px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media(max-width: 500px) {
  .utils-progress .badge {
    font-size: 12px;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

.heading-fade-animate {
  opacity: 0;
  animation: fade-in-out cubic-bezier(.65, .05, .36, 1) infinite;
}

.customise-container {
  height: 400px;
}

.customise-container_img {
  position: absolute;
  max-height: 400px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.customise-container_img-animated-position {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 20px);
  transform: translate(-50%, -50%);
}

@media(min-width: 992px) and (max-width: 1200px) {
  .customise-container_img-animated-position {
    left: calc(50% - 18px);
    top: calc(50% - 30px);
    transform: translate(-50%, -50%);
  }
}

.customise-container_lines-animated-position {
  position: relative;
}

.animation-circular-progress-bar {
  display: none;
}

@media(min-width: 991px) {
  .animation-circular-progress-bar {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: linear-gradient(90deg, #ffc928 50%, rgba(255, 255, 255, 0) 50%);
    position: relative;
    z-index: 1;
  }
}

.animation-circular-progress-bar-progress {
  height: 200px;
  width: 200px;
  background: linear-gradient(90deg, #ffc928 50%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
}

.animation-circular-progress-bar-progress-outer {
  height: 200px;
  width: 200px;
  background: linear-gradient(90deg, #ffc928 50%, rgba(255, 255, 255, 1) 50%);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.animation-circular-progress-bar-inner {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.analytics-animation_container_percentage_number {
  color: #32325d;
  font-family: Nunito, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.analytics-img {
  border-radius: 1.5rem;
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(1, 1, 1, 0.1);
}

@media(min-width: 991px) {
  .analytics-img {
    border-radius: 1.5rem;
    max-width: 250px;
    position: absolute;
    top: 140px;
    width: 100%;
    right: 3rem;
  }
}

@media(min-width: 1200px) {
  .analytics-img {
    border-radius: 1.5rem;
    max-width: 330px;
    position: absolute;
    top: 100px;
    width: 100%;
  }
}

@media(max-width: 991px) {
  .flex-column-reverse-md {
    flex-direction: column-reverse !important;
  }
}

@media(max-width: 460px) {
  .search-merch-heading {
    min-height: 144px;
  }
}

.card-product-feature {
  width: 50%;
}

/* Carousel SCSS */

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

$default-height: 80%;
$default-width: 25%;
$level2-height: $default-height - 4%;
$level2-width: $default-width - 4%;
$level1-height: $default-height - 2%;
$level1-width: $default-width;
$level0-height: $default-height;
$level0-width: $default-width;
$level-2-left: 11%;
$level-1-left: 30%;
$level0-left: 50%;
$level1-left: 70%;
$level2-left: 89%;

$level0-height-sm: $default-height;
$level0-width-sm: $default-width + 40%;
$level0-left-sm: 50%;

$level1-height-sm: $default-height - 2%;
$level1-width-sm: $default-width + 40%;
$level-1-left-sm: 50%;
$level1-left-sm: 80%;

$level2-height-sm: $default-height - 8%;
$level2-width-sm: $default-width + 40%;
$level-2-left-sm: 15%;
$level2-left-sm: 70%;

.basedOn {
  text-align: center;
  font-size: 1.2em;
  color: #FFF;

  a,
  a:visited,
  a:hover,
  a:active {
    color: #FFEB3B;
  }
}

.products-carousel {
  height: 500px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.products-carousel-main {
  display: block;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  transition: all 500ms;
}

.arrow i {
  position: static;
}

.item {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 1s, height 250ms, width 250ms, left 1s, margin-top 1s,
    line-height 250ms, background-color 1s;
}

.level-2 {
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;

  @media (min-width: $breakpoint-large) {
    left: $level-2-left;
  }

  left: 3%;
}

.level-1 {
  @media (min-width: $breakpoint-large) {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level-1-left;
  }

  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  left: 10%;
}

.level0 {
  @media (min-width: $breakpoint-large) {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    left: $level0-left;
  }

  height: $level0-height-sm;
  width: $level0-width-sm;
  line-height: $level0-height-sm;
  left: $level0-left-sm;
}

.level1 {
  @media (min-width: $breakpoint-large) {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level1-left;
  }

  height: $level1-height-sm;
  width: $level1-width-sm;
  line-height: $level1-height-sm;
  left: $level1-left-sm;
}

.level2 {
  @media (min-width: $breakpoint-large) {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    left: $level2-left;
  }

  height: $level2-height-sm;
  width: $level2-width-sm;
  line-height: $level2-height-sm;
  left: $level2-left-sm;
}

.level-2,
.level2 {
  z-index: 0;
}

.level-1,
.level1 {
  z-index: 1;
}

.level0 {
  z-index: 2;
}

.left-enter {
  opacity: 0;

  @media (min-width: $breakpoint-large) {
    left: $level2-left;
    height: $level2-height - $default-height;
    width: $level2-width - $default-width;
    line-height: $level2-height - 30;
  }

  left: 3%;
  left: $level2-left;
  height: $level2-height - $default-height;
  width: $level2-width - $default-width;
  line-height: $level2-height - 30;

  &.left-enter-active {
    opacity: 1;
    left: 3%;

    @media (min-width: $breakpoint-large) {
      left: $level2-left;
    }

    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    transition: box-shadow 1s,
    left 1s,
    opacity 1s,
    height 250ms,
    width 250ms,
    margin-top 1s,
    line-height 1s;
  }
}

.left-leave {
  opacity: 1;
  left: 3%;

  @media (min-width: $breakpoint-large) {
    left: $level-2-left;
  }

  height: $level2-height;
  width: $level2-width-sm;
  line-height: $level2-height;
  z-index: -1;

  &.left-leave-active {
    z-index: -1;
    left: 3%;

    @media (min-width: $breakpoint-large) {
      left: $level-2-left;
    }

    opacity: 0;
    height: $level2-height - $default-height;
    width: $level2-width-sm - $default-width;
    line-height: 120px;
    transition: box-shadow 1s,
    left 1s,
    opacity 1s,
    height 250ms,
    width 250ms,
    margin-top 1s,
    line-height 1s;
  }
}

.right-enter {
  opacity: 0;
  line-height: $level2-height - 30;
  height: $level2-height - $default-height;
  width: $level2-width - $default-width;
  left: 3%;

  @media (min-width: $breakpoint-large) {
    left: $level-2-left;
  }

  &.right-enter-active {
    @media (min-width: $breakpoint-large) {
      left: $level-2-left;
    }

    left: 3%;
    opacity: 1;
    height: $level2-height;
    line-height: $level2-height;
    width: $level2-width;
    transition: box-shadow 1s,
    left 1s,
    opacity 1s,
    height 250ms,
    width 250ms,
    margin-top 1s,
    line-height 1s;
  }
}

.right-leave {
  height: $level2-height;
  opacity: 1;
  line-height: $level2-height;
  width: $level2-width;

  @media (min-width: $breakpoint-large) {
    left: $level-2-left;
  }

  left: 70%;

  &.right-leave-active {
    @media (min-width: $breakpoint-large) {
      left: $level-2-left;
    }

    left: 70%;
    opacity: 0;
    height: $level2-height - $default-height;
    width: $level2-width - $default-width;
    line-height: $level2-height - 30;
    transition: box-shadow 1s,
    left 1s,
    opacity 1s,
    height 250ms,
    width 250ms,
    margin-top 1s,
    line-height 1s;
  }
}

.noselect {
  -webkit-user-select: none;
  -html-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.card-product-feature-img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.card-product-title {
  color: #32325d;
  font-weight: 600;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
}

.card-container {
  display: block;
}

/*
Avatar
Badges
Fixes
Cards
*/

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito-regular-webfont.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito-regular-webfont.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito-regular-webfont.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(../fonts/nunito-bold-webfont.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(../fonts/nunito-bold-webfont.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(../fonts/nunito-bold-webfont.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Avatar*/
.avatar.rounded-circle img {
  max-height: 36px;
}

.avatar-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Badges*/
.badge-right-align {
  position: absolute;
  right: 1rem;
}

.badge-inverse {
  color: #212529;
  background-color: #f7fafc;
}

.badge-side-nav {
  height: 19px;
  width: 19px;
  padding: 5px 1px 0px 0px;
  margin-left: 1em;
}

/*Fixes*/
.react-select-2-fix>div {
  border: 1px solid #dee2e6;
  font-size: 0.875rem;
  min-height: calc(2.75rem + 2px);
}

.list-filter-container-left {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 1.1rem;
}

.list-filter-container-right {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

/* Firefox input autofill fix */
input:autofill {
  background: #fff;
  /* or any other */
}

/*Cards*/
.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes animationBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;

  }
}

.animation-blink {
  animation-name: animationBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Product Images */
.preview-container {
  display: flex;
  height: 490px;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.preview-container-stacked {
  display: flex;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.preview-container-main-image {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-pic img {
  width: 100%;
  border-radius: .375rem;
  height: auto;
  max-width: 470px;
  max-height: 446px;
}

.thumbnails {}

.fit-image {
  width: 100%;
  object-fit: cover;
  border-radius: .375rem;
}

.tb {
  width: 62px;
  height: 62px;
  margin: 2px;
  opacity: 0.4;
  cursor: pointer;
  border-radius: .375rem;
}

.tb-active {
  opacity: 1;
}

.thumbnail-img {
  width: 60px;
  height: 60px;
}

[data-rmiz-wrap="visible"],
[data-rmiz-wrap="hidden"] {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}

[data-rmiz-wrap="hidden"] {
  visibility: hidden;
}

[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color;
}

[data-rmiz-btn-open],
[data-rmiz-btn-close] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* reset styles */
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[data-rmiz-btn-open] {
  cursor: zoom-in;
}

[data-rmiz-btn-close] {
  cursor: zoom-out;
}

[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center;
}

/* Draft js RTE styles */

.rte-editor-iframeContainer {
  width: 100%;
  height: 0;
  position: relative;
  min-height: 300px;
  padding-bottom: 56.25%;
}

.rte-editor-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rte-editor-invalidVideoSrc {
  text-align: center;
  background-color: #eaeaea;
  padding: 1em;
}

.rte-editor-video {
  width: 100%;
  height: 100%;
}

/* **********
 Embed form
 ********** */
.merchi-embed-form {

  /* buttons */
  &_button {
    &-submit {
      margin: 4px !important;
    }
  }

  /* variant container */
  &_variantion-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    @media(min-width: 992px) {
      padding: 0;
    }
  }

  /* information */
  &_information-container {
    margin-top: 1rem;

    @media(min-width: 992px) {
      padding: 0;
    }

    ul {
      gap: 1rem;
    }

    .nav-item {
      padding: 0 !important;
    }

    &-list-group-item {
      padding: 0.5rem !important;
      list-style-type: none;
    }
  }

  /* images */
  &_img {
    &-container {}

    &-product-pic {
      img {
        max-width: 100%;
        border-radius: 0.5rem;
      }
    }

    &-preview-container {
      flex-direction: column;
    }

    &-preview-container-main-image {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-thumbnails {
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0.5rem;
    }
  }

  /* react zoom package */
  &_zoom {
    &-img button {
      font-size: 1.5rem;
      display: flex;
    }
  }

  /* cost summary */
  &_summary {
    &-product-cost {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 1rem 0;
      flex-direction: wrap;
    }

    &-product-cost-container {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      margin-top: 1.5rem
    }

    &-button-submit-container {
      display: flex;
    }
  }

  /* variation dropzone */
  &_dropzone {
    padding: 0;
    border: none;
    color: inherit;
    padding: 2rem 1rem;
    background-color: #fff;
    border: 1px dashed #dee2e6;
    border-radius: 0.375rem;
    text-align: center;
    color: #8898aa;
    order: -1;
    cursor: pointer;
    z-index: 999;
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 0.5em 0.75em #00000014;
      scale: 1.002;
    }

    &-text-container {
      display: flex;
    }

    &-icon-container {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #dfdfdf;
      border-radius: 100%;
      position: relative;
      margin-right: 1rem;
    }

    &-icon {
      position: absolute;
      display: block;
      top: 50%;
      height: 24px;
      left: 50%;
      transform: translate(-50%, -50%)
    }

    &-icon-plus {
      transition: all .15s ease-in-out;
      position: absolute;
      background: white;
      height: 30px;
      width: 30px !important;
      border-radius: 100%;
      border: 1px solid #dfdfdf;
      padding: 5px;
      display: block;
      right: -8px;
      bottom: -14px;
      top: initial;
      left: initial;

      &:hover {
        scale: 1.2;
      }
    }
  }

  /* variation image select */
  &_image-select-option {
    &-container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    &-item-container {
      flex-grow: 1;
      flex: 0 0 calc(50% - 0.50rem);

      @media(min-width: 782px) {
        flex: 0 0 calc(33.33% - 0.67rem);
      }
    }

    &-item {
      background: #fff;
      border-radius: 0.5em;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition-duration: 0.15s;
      position: relative;
      text-align: center;
      padding: 1rem 0.5rem;

      &:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition-duration: 0.25s;
      }

      &-img {
        display: block;
        height: 150px;
        margin: auto;
        max-width: 150px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      svg {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: #fff;
        padding: 2px;
        padding-bottom: 1px;
        border-radius: 0.4rem;
        color: $brandRed;
        font-size: 28px !important;
        -webkit-animation-name: fadeInOpacity;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-duration: 0.2s;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-duration: 0.2s;
      }
    }
  }

  /* variation color select */
  &_color-select {
    &-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      @media (max-width: 768px) {
        justify-content: center;
      }
    }

    &-indicator {
      border-radius: 100%;
      height: 65px;
      width: 65px;
    }

    &-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative
    }

    &-description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: clip;
      max-width: 125px;
      text-transform: capitalize;
      background-color: white;
      padding: 0 0.4rem;
      margin: 6px 0 0 0;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      font-size: 0.8rem;
      font-weight: 600;
    }

    &-option {
      border: 4px solid #fff;
      border-radius: 100%;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
      z-index: 1;

      &:hover {
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
      }

      i,
      svg {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        border-radius: 100%;
        color: $brandRed;
        font-size: 21px;
      }
    }
  }

  /* variation checkbox and radio */
  &_checkbox_radio {
    &-container {
      display: flex;
      flex-direction: column;
    }

    &-item-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    // item and input are in the merchi embed form with the className merchi-embed-form_checkbox_radio-item, but I dont know what its used for. Leaving it here in case we need it later.
    &-item {}

    &-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      z-index: 999;
      height: 33px;
      width: 33px;

      // Define the styles for the checkbox label
      +label {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        // Define the custom checkbox indicator
        &::before {
          content: " ";
          display: inline-block;
          margin-right: 0.5rem;
          width: 33px;
          height: 33px;
          background-color: white;
          border-radius: 6px;
          box-shadow: rgba(42, 42, 42, 0.15) 0px 2px 2px 0px;
          transition: all 0.1s ease-in-out;
          cursor: pointer;
        }

        // Define the custom checkbox indicator when checked
        &::after {
          content: "";
          width: 11px;
          height: 11px; // Size of the checkmark
          background: $brandRed;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 11px;
          transform: translateY(-50%);
          opacity: 0;
          transition: all 0.3s ease; // Smooth transition for hover/focus effects
          cursor: pointer;
        }
      }

      &:disabled+label {
        &::before {
          opacity: 0.8;
          box-shadow: none;
          cursor: not-allowed;
          border: inset 1px #0000002b;
          background-color: transparent;
        }

        &::after {
          cursor: not-allowed;
        }
      }

      &:disabled+label &-label {
        opacity: 0.8;
        box-shadow: none;
        cursor: not-allowed;
        border: inset 1px #0000002b;
        background-color: transparent;
      }

      &:disabled+label:hover::before {
        box-shadow: none;
        border: inset 1px #0000002b;
      }

      // Apply styles to the checkbox when checked
      &:checked+label::before {
        box-shadow: rgba(42, 42, 42, 0.15) 0px 1px 1px 0px;
      }

      // Show the checkmark when the checkbox is checked
      &:checked+label::after {
        opacity: 1;
      }

    }

    &-label {
      position: relative;
      cursor: auto !important;
      display: inline-flex;
      align-items: center;
      height: 33px;
    }

    &-super {
      display: block;
      color: rgb(129, 136, 155);
      padding: 3px 10px;
      font-weight: bold;
      border-radius: 8px;
      font-size: 11px;
      margin-top: 10px;
      width: -moz-fit-content;
      width: fit-content;
      box-shadow: 1px 1px 2px #00000026;
      background: #f2f4fb;
      border-top: 1px solid white;
      border-left: 1px solid white;
    }
  }

  /* titles */
  &_input {
    &-radio {
      font-size: 18px;
      font-weight: 800;
      padding-bottom: 0.25rem;
    }

    &-checkbox {
      font-size: 18px;
      font-weight: 800;
      padding-bottom: 0.25rem;

    }

    &-select {
      font-size: 18px;
      font-weight: 800;
      padding-bottom: 0.25rem;

    }

    &-image-select {
      font-size: 18px;
      font-weight: 800;
      padding-bottom: 0.25rem;

    }

    &-file {
      font-size: 18px;
      font-weight: 800;
      padding-bottom: 0.25rem;

    }
  }

  /* other */
  &_variation-cost-detail {
    display: block;
    color: rgb(129, 136, 155);
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: 1px 1px 2px #00000026;
    background: #f2f4fb;
    border-top: 1px solid white;
    border-left: 1px solid white;
    margin: 0.25rem 0rem 0.5rem;
  }

  /* product groups */
  &_product-group {
    &-container {
      background: rgba(255, 255, 255, 0.75);
      border-radius: 0.75rem;
      padding: 0.75rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-actions-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media(min-width: 500px) {
        width: auto;
      }
    }

    &-actions-cost-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &-total-cost {
      font-weight: 800;
    }

    &-button-remove {
      width: 100%;

      @media(min-width: 500px) {
        width: fit-content;
      }
    }

    &-button-add-group {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 1rem 0;
    }

    &-inventory-status {
      width: fit-content;
      border-radius: 50px;
      color: white;
      font-weight: bold;
      font-size: 0.75rem;
      padding: 3px;
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    &-variation-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-input-qty-container {
      font-size: 18px;
      font-weight: 800;
    }
  }

  /* quantity input */
  &_quantity {
    &-container {}

    &-label-container {
      font-size: 18px;
      font-weight: 800;
      ;
      margin-bottom: 0.5rem;
    }
  }
}

/* **********
 END Embed from
 ********** */

.animate_spin {
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.merchi-dropzone-sign-up {
  padding: 0;
  border: none;
  color: inherit;
  padding: 2rem 1rem;
  background-color: #fff;
  border: 1px dashed #dee2e6;
  border-radius: 0.375rem;
  text-align: center;
  color: #8898aa;
  transition: all .15s ease;
  cursor: pointer;
  z-index: 999;
}

.merchi-dropzone-file-uploaded {
  height: 50px;
  width: 50px;
  margin: 0px 0px 0px auto;
  border-radius: 0.375rem;
  object-fit: cover;
}

/* Variation colour select */
.color-select-option-container {
  display: inline-block;
  text-align: center;
}

.merchi-dropzone {
  padding: 0;
  border: none;
  color: inherit;
  padding: 2rem 1rem;
  background-color: #fff;
  border: 1px dashed #dee2e6;
  border-radius: 0.375rem;
  text-align: center;
  color: #8898aa;
  transition: all .15s ease;
  order: -1;
  cursor: pointer;
  z-index: 999;
}

.merchi-dropzone-upload-text {
  padding-left: 20px;
}

.uploaded-variation-file {
  position: relative;
}

.uploaded-variation-file-icon-wrapper {
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 4px;
  padding-top: 0px;
  cursor: pointer;
}

.merchi-collapse {
  display: none;
}

.merchi-collapse.show {
  display: block;
}

.product-group-total-cost {
  align-self: center;
  flex: 1 1 auto;
  font-size: 1.0625rem;
  margin-bottom: 0px;
}

.merchi-quantity-label-container {
  align-items: center;
  display: flex;
}

.merchi-product-total {
  align-self: center;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
}

.merchi-product-origin-title {
  align-items: center;
  display: flex;
}

.merchi-product-title {
  margin-bottom: 1rem;
}

/* Merchi checkout */
.merchi-row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .merchi-row {
    flex-direction: row;
  }

  .merchi-column {
    width: 50%;
    padding-right: 10px;
  }

  .merchi-column:last-child {
    padding-left: 10px;
    padding-right: 0;
  }
}

.merchi-checkout-tabs-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  small {
    display: none;
  }
}

.merchi-checkout-tab {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.merchi-checkout-tab-btn {
  color: $brandBlue;
  background-color: transparent;
  background-image: none;
  border-color: $brandBlue;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  margin-right: 0 !important;
}

.merchi-checkout-tab-btn.active {
  color: #fff;
  background-color: $brandBlue;
  border-color: $brandBlue;
  border-radius: 6px;
}

.merchi-checkout-discount-code-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.merchi-checkout-discount-code-field-container {
}
@media(min-width: 500px) {
  .merchi-checkout-tabs-container {
    small {
      display: inline;
    }
  }
}

@media(min-width: 762px) {
  .merchi-checkout-tabs-container {
    justify-content: start;
    gap: 2rem;
  }
  
  .merchi-checkout-tab {
    text-align: center;
  }
  
  .merchi-checkout-tab-btn {
    padding: 0.75rem 1.25rem;
  }
}

/* GEO suggest close */

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/* **************
 Modal - checkout
 ************** */

.modal {
  &_merchi-checkout {
    max-width: calc(100% - 15px);
    margin: 0 0.5rem;
    .modal-content {
      top: 0.5rem;
    }
    @media (min-width: 900px) {
      margin: 0 auto;
      max-width: 900px;
      .modal-content {
        top: 3rem;
      }
    }

    &_steps-heading {
      background: #f8f8f8;
      border-radius: 0.5rem;
      font-size: 1.25rem;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      width: fit-content;
      margin-bottom: 1rem;
      small {
        margin-bottom: 0;
      }
      h5 {
        font-size: 1rem !important;
      }
    }

    /* variation dropzone */
    &_dropzone {
      padding: 0;
      border: none;
      color: inherit;
      padding: 2rem 1rem;
      background-color: #fff;
      border: 1px dashed #dee2e6;
      border-radius: 0.375rem;
      text-align: center;
      color: #8898aa;
      order: -1;
      cursor: pointer;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:hover {
        box-shadow: 0 0.5em 0.75em #00000014;
        scale: 1.002;
      }

      &-image-preview {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;

        &-item {
          height: 50px;
          width: 50px;
          border-radius: 0.375rem;
          object-fit: cover;
        }
      }

      &-text-container {
        display: flex;
      }

      &-icon-container {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #dfdfdf;
        border-radius: 100%;
        position: relative;
        margin-right: 1rem;
      }

      &-icon {
        position: absolute;
        display: block;
        top: 50%;
        height: 24px;
        left: 50%;
        transform: translate(-50%, -50%)
      }

      &-icon-plus {
        transition: all .15s ease-in-out;
        position: absolute;
        background: white;
        height: 30px;
        width: 30px !important;
        border-radius: 100%;
        border: 1px solid #dfdfdf;
        padding: 5px;
        display: block;
        right: -8px;
        bottom: -14px;
        top: initial;
        left: initial;

        &:hover {
          scale: 1.2;
        }
      }
    }

    /*customer info card*/
    &-customer-card {
      background: #f8f8f8;
      border-radius: 0.5rem;
      padding: 1rem;
    }

    &-customer-details {
      p {
        margin: 0;
        padding: 0;
      }
    }

    &-job-info-content {
      padding: 1rem;
      background: #f8f8f8;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }

    &-job-info-content-img {
      border-radius: 0.5rem;
      object-fit: cover;
      width: 50px;
      height: 50px;
    }

    &-shipment-option {
      min-height: 86px;
    }

    &-shipment-detail {
      padding: 1rem;
      background: #f8f8f8;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
    &-discount-code {
      padding: 1rem;
      background: #f8f8f8;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
  }
}

/* **************
 Invoice
 ************** */

 .merchi {
  &_invoice {
    &-container {
      &-icons {
        width: 150px;
        margin: auto;
        height: auto;
      }
    }
  }
 }
